<!DOCTYPE html>
<html>
<head>
	<title>Ecobici Stats</title>
	<meta charset="UTF-8">
	<meta name="description" content="Información del servicio del gobierno de la ciudad representada en gráficos y actualizada en tiempo real">
	<meta name="keywords" content="d3.js, d3, js, JavaScript">
	<meta name="author" content="Esteban Jelicich">

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
	<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,700,800,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v3.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	<script src="assets/js/ecobici.js"></script>

</head>
<body>
<div id="wrapper">
	<div id="title">
		<h1>Ecobici en gráficos</h1>
		<p>Información del servicio del gobierno de la ciudad representada en gráficos y actualizada en tiempo real</p>
	</div>
	<div id="panels-container">
		<div id="top" class="panel">
			<h2>Bicicletas disponibles por estación</h2>
			<div id="graph-top" class="graph">
				<div id="graph-top-tooltip" class="tooltip">
					<h3 class="title"></h3>
					<p class="content"></p>
				</div>
			</div>
		</div>
		<div id="bottom" class="clearfix">
			<div id="bottom-left" class="panel">
				<div class="col">
					<h2>Uso global</h2>
					<div id="graph-bottom-left-1" class="graph"></div>
				</div>
				<div class="col">
					<h2>Estacion menos usada</h2>
					<div id="graph-bottom-left-2" class="graph"></div>
				</div>
				<div class="col">
					<h2>Estacion mas usada</h2>
					<div id="graph-bottom-left-2" class="graph"></div>
				</div>
			</div>
			<div id="bottom-right" class="panel">
				<h2>Mapa de la ciudad</h2>
				<div id="graph-bottom-right" class="graph"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
