body,
html{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url('../img/bg.png');
	padding-top: 80px; /*70px height title + 10px spacing*/
}
div{
	box-sizing: border-box;
}

#title{
	position: fixed;
	top: 0;
	color: #000;
	padding: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd300), to(#ffbc00));
    background-image: -webkit-linear-gradient(top, #ffd300 0%, #ffbc00 100%);
    background-image: linear-gradient(to bottom, #ffd300 0%, #ffbc00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd300', endColorstr='#ffbc00',GradientType=0 );
    background-color: #ffbc00;
    width: 100%;
    height: 70px;
}
#title h1,
#title p{
	margin: 0;
}
#panels-container{
	height: calc(100vh - 80px); /*80px header+spacing*/
}
#top{
	height: calc(40%);
	margin-top: 0;
	margin-bottom: 0;
}
#bottom{
	height: calc(60% - 20px);
}
#bottom-left,
#bottom-right{
	height: 100%;
	width: calc(50% - 15px); /*30px margin / 2 = 15px*/
	float: left;
}
#bottom-left{
	margin-right: 0;
}
#graph-top .bar:hover{
	stroke: rgba(0,0,0,0.3);
	stroke-width: 2px;
}
#graph-top .bar-zero-value{
	height: 0.5px;
	color: red;
}
.panel{
	background: rgba(255,255,255,0.9);
	margin: 0;
	padding: 10px;
	padding-top: 40px; /*spacing for the title*/
	margin: 10px;
	position: relative;
}
.panel h2{
	margin: 0;
	position: absolute;
	top: 10px;
	left: 10px;
}
#bottom-left{
	padding-top: 10px;
}
.panel .col{
	width: 34%;
	position: relative;
	height: 100%;
	float: left;
	padding: 40px 1% 0;
}
.panel .col:first-child{
	margin-left: -1%;
}
.panel .col:last-child{
	margin-right: -1%;
}
.graph{
	height: 100%;
}
.tooltip{
	position: absolute;
	max-width: 200px;
	height: auto;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	pointer-events: none; /*prevents to take over the mouse event*/
	font-family: sans-serif;
	font-size: 12px;
	opacity: 0;
	z-index: 99;
	top: 10px;
	right: 10px;
}
.tooltip .title{
	background: rgba(0,0,0,0.2);
	margin: 0;
	font-size: 16px;
	padding: 5px;
}
.tooltip .content{
	font-size: 14;
	padding: 5px;
}
.tooltip .content ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.x-axis text,
.y-axis text{
	font-family: sans-serif;
	font-size: 10px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
